@import "tailwindcss";

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
html {
  scroll-behavior: smooth; /* No !important needed here */
  overflow-x: hidden; /* Prevents horizontal scrollbars from animations */
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
html::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'GT Walsheim-bold';
  src: url('/fonts/GT-Walsheim-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim-light';
  src: url('/fonts/GT-Walsheim-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim-medium';
  src: url('/fonts/GT-Walsheim-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim-Regular';
  src: url('/fonts/GT-Walsheim-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim-Thin';
  src: url('/fonts/GT-Walsheim-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}

p,span,button,li ,a{
  font-family: 'GT Walsheim-Regular';
}

h1{
  font-family: 'GT Walsheim-bold';
}


