@import "tailwindcss";

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
html {
  scroll-behavior: smooth; 
  overflow-x: hidden; 
}


html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}


@font-face {
  font-family: 'GT Walsheim-Regular';
  src: url('/fonts/GT-Walsheim-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


p,span,button,li ,a{
  font-family: 'GT Walsheim-Regular';
}

h1{
  font-family: 'GT Walsheim-bold';
}

/* globals.css or your component CSS */
.custom-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}



