@import "tailwindcss";
@import "tw-animate-css";


.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

html, body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Outfit-Regular';
  src: url('/webfonts/Outfit-Regular.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body{
  font-family: 'Outfit-Regular';
  
}
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px #111215 inset !important; /* match your dark input background */
}
